* {
    /*box-sizing: border-box;*/
    font-family: sans-serif;
    background-color: silver;
}

.header {
    margin: 0 auto 80px;
    max-width: 90vw;
}

.header a {
    display: inline-block;
    padding: 0.5em 1em;
    background: white;
}

.content {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 80px;
    max-width: 900px;
}

/* This is an incomplete example of how you would code a fallback for browsers that don’t support grid */
.content img {
    float: left;
    width: 40%;
}

@supports (display: grid) {
    .content img {
        width: 100%;
    }
}

@media (min-width: 650px) {
    .content {
        display: grid;
        grid-template-columns: 7vw 40vw 20px 60px 1fr;
        grid-template-rows: 7vw auto 20px auto;
        margin-left: 0;
    }
}

.content::after {
    content: " ";
    background: gray;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 1;
}

.content img {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 10;
}

.content-inner {
    grid-column: 5;
    grid-row: 2 / -1;
}

.panel-intro {
    margin-bottom: 40px;
    margin-left: 10vw;
    max-width: 25vw;
}

.panel {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 325px 325px 120px;
    margin: 0 auto 80px;
    max-width: 80vw;
}

.panel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.panel img:nth-child(2) {
    grid-column: auto / span 2;
}

.panel img:nth-child(3) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

img {
    max-width: 100%;
}