*{
    box-sizing: border-box;
}

.nav-wrapper {
    padding-top: 1rem;
}

.nav-wrapper ul {
    display: flex;
    justify-content: flex-end;
}

.nav-wrapper li {
    border: 1px solid transparent;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    list-style: none;
}

.nav-wrapper li:hover,
.nav-wrapper li:focus {
    border: 1px solid grey;
}